.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 10px;
    position: sticky;
}